<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include header.ejs %>
  </head>
  <body>
    <%- include('bar.ejs',{username}) %>

    <div class="list">
      <% totalData.list.map((item,index)=>{ %>
        <div class="row">
          <span><%= index+1 %></span>
          <span><%= item.username %></span>
          <span class="title"><%= item.title %></span>
          <span><%= item.time %></span>
          <span>
            <a class="change" href="/write">编辑</a>
            <a class="delete" href="#" onclick="delArticle(this)">删除</a>
          </span>
        </div>
      <% }) %>     
    </div>

    <div class="pages">
      <% for(let i = 1; i<=totalData.total;i++){ %>
        <a href='/?page=<%= i %>'> <%= i %> </a>
      <% } %>
    </div>

    <script src="/xheditor/jquery/jquery-1.4.4.min.js"></script>
    <script>
      function delArticle(obj){    
        let parentCon = obj.parentNode.parentNode
        let title = parentCon.getElementsByClassName('title')[0].innerText

        $.ajax({
          url:'/article/delete',
          type:'POST',
          dataType: "json",
          data:{title},
          success:location.reload()
        })
      }

    </script>
  </body>
</html>
